In [1]:
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
%run pathtodata.py
file_path = os.path.join(pathtodata(), 'simulation.csv')
df = pd.read_csv(file_path).set_index('Time')
df.head()

                                Y         Y_hat
Time
2017-12-15 07:20:00  17044.322063  17075.027241
2017-12-15 07:25:00  17054.952232  17082.913974
2017-12-15 07:30:00  17095.091236  17077.251377
2017-12-15 07:35:00  17149.516926  17046.794758
2017-12-15 07:40:00  17169.485833  17121.170052

In [3]:
df = pd.read_csv('Data/LSTM_prediction.csv', sep='\t').set_index('Unnamed: 0')
df['Y'] = df['y_test']
df['Y_hat'] = df['test_predict']
df.drop(columns=['test_predict', 'y_test'], inplace=True)
df.head()

                       Y         Y_hat
Unnamed: 0
0           17183.483805  17243.880859
1           17120.843142  17270.644531
2           17117.669832  17207.255859
3           17106.030414  17204.205078
4           17064.157187  17194.009766

In [4]:
# df['Y_hat_change'] = df['Y_hat'] - df['Y'].shift(1)
df['Y_hat_change'] = df['Y_hat'].diff()
df['Y_change'] = df['Y'].diff().shift()
df = df[2:]
df.index = np.arange(len(df['Y']))
df.head()

              Y         Y_hat  Y_hat_change   Y_change
0  17117.669832  17207.255859    -63.388672 -62.640663
1  17106.030414  17204.205078     -3.050781  -3.173310
2  17064.157187  17194.009766    -10.195312 -11.639419
3  17075.724313  17153.039062    -40.970703 -41.873227
4  17054.324380  17164.937500     11.898438  11.567126

In [5]:
bins = [-np.inf, -5, 5, np.inf]
labels = [-1, 0, 1]
df['Y_hat_classification'] = pd.cut(df['Y_hat_change'], bins=bins, labels=labels).astype('int64')
df['Y_classification'] = pd.cut(df['Y_change'], bins=bins, labels=labels).astype('int64')
print("Classification: ", *zip(['<-10', '>-10 & <10', '>10'], labels), sep='\n')
print("Classification accuracy: ", accuracy_score(df['Y_classification'], df['Y_hat_classification']))
df.head(50)

Classification:
('<-10', -1)
('>-10 & <10', 0)
('>10', 1)
Classification accuracy:  0.9502273271117492

,Y,Y_hat,Y_hat_change,Y_change,Y_hat_classification,Y_classification
0,17117.669832,17207.255859,-63.388672,-62.640663,-1,-1
1,17106.030414,17204.205078,-3.050781,-3.173310,0,0
2,17064.157187,17194.009766,-10.195312,-11.639419,-1,-1
3,17075.724313,17153.039062,-40.970703,-41.873227,-1,-1
4,17054.324380,17164.937500,11.898438,11.567126,1,1
5,17044.322063,17138.742188,-26.195312,-21.399933,-1,-1
6,17054.952232,17126.669922,-12.072266,-10.002317,-1,-1
7,17095.091236,17138.335938,11.666016,10.630169,1,1
8,17149.516926,17186.320312,47.984375,40.139004,1,1
9,17169.485833,17235.931641,49.611328,54.425690,1,1
10,17172.176608,17260.914062,24.982422,19.968907,1,1
11,17136.104033,17259.503906,-1.410156,2.690775,0,0
12,17093.121544,17225.236328,-34.267578,-36.072575,-1,-1
13,17052.840785,17174.953125,-50.283203,-42.982489,-1,-1
14,17051.889375,17125.292969,-49.660156,-40.280758,-1,-1
15,17056.269956,17135.093750,9.800781,-0.951410,1,0
16,17096.251184,17137.916016,2.822266,4.380581,0,0
17,17092.247398,17177.917969,40.001953,39.981228,1,1
18,17078.488366,17180.769531,2.851562,-4.003786,0,0
19,17167.224840,17144.537109,-36.232422,-13.759032,-1,-1
20,17162.364011,17239.582031,95.044922,88.736474,1,1
21,17147.882346,17247.705078,8.123047,-4.860829,1,0
22,17202.330938,17220.882812,-26.822266,-14.481664,-1,-1
23,17239.178891,17276.863281,55.980469,54.448592,1,1
24,17316.911635,17307.556641,30.693359,36.847952,1,1
25,17320.726555,17401.529297,93.972656,77.732745,1,1
26,17393.564043,17409.351562,7.822266,3.814920,1,0
27,17469.268905,17474.773438,65.421875,72.837488,1,1
28,17504.623884,17544.531250,69.757812,75.704861,1,1
29,17487.641338,17573.195312,28.664062,35.354979,1,1
30,17470.966404,17558.214844,-14.980469,-16.982546,-1,-1
31,17428.505428,17543.835938,-14.378906,-16.674934,-1,-1
32,17482.303540,17514.703125,-29.132812,-42.460976,-1,-1
33,17470.966388,17571.960938,57.257812,53.798112,1,1
34,17451.700827,17557.574219,-14.386719,-11.337152,-1,-1
35,17422.093282,17531.308594,-26.265625,-19.265561,-1,-1
36,17580.219998,17494.652344,-36.656250,-29.607545,-1,-1
37,17732.425175,17643.335938,148.683594,158.126716,1,1
38,17801.347891,17799.335938,156.000000,152.205178,1,1
39,17770.880544,17854.513672,55.177734,68.922715,1,1
40,17845.876558,17845.763672,-8.750000,-30.467346,-1,-1
41,17919.320249,17919.302734,73.539062,74.996014,1,1
42,17886.648193,17975.064453,55.761719,73.443691,1,1
43,17912.110212,17957.748047,-17.316406,-32.672056,-1,-1
44,17994.789872,17981.626953,23.878906,25.462020,1,1
45,17943.668913,18042.939453,61.312500,82.679660,1,1
46,17827.953131,18019.431641,-23.507812,-51.120959,-1,-1
47,17700.382059,17897.935547,-121.496094,-115.715782,-1,-1
48,17840.488205,17758.423828,-139.511719,-127.571072,-1,-1
49,17811.375342,17919.044922,160.621094,140.106146,1,1